* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.inner {
    width: 75%;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-links, .hero-desc {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-links {
    padding: 8px 32px;
}

.header-links:hover {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    text-decoration: none;
    
}

.logo {
    margin-right: auto;
    flex: 1 1 0;
    font-size: 24px;
    color: #F9FAF8;
}

.hero-box {
    display: flex;
    justify-content: space-between;
}

.hero-sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 32px;
}

.hero-image {
    height: auto;
    width: 600px;
    margin-left: 100px;
}

.hero-text {
    color: #F9FAF8;
    font-weight: 900;   
    font-size: 48px; 
}

.button {
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    text-decoration: none;
    padding: 8px 32px;
    display: inline-block;
}

.box1 .inner {
    height: 6in;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box1 {
    background-color: #1F2937;
}

.box2 {
    background-color: #F9FAF8;
    height: 5in;

}
